<!--Template de base pages-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


<style>
.navbar a, .navbar img{
    background-color: #563675;
    /*eqx #5F4B8B
    autre choix: #633ccd */
}

.navbar h3, .navbar h4{
    padding-left: 30%;
}

.navbar .container-fluid, .navbar, a{
    padding: 0;
}

.row{
    margin: 0;
}

footer{
    background-color: #563675;
    height:11%;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

h1{
    font-size: 3em;
}

.fab, .fa{
    text-decoration: none;
    font-size: 30px;
    position: relative; top:40%;
    padding: 5px;
    border-radius: 50%;
    background: #F0F0F0;
    color: #282828;
}

.cpr{
    font-size: 15px;
    position: relative; top: 40%;
    color: #cfcccc;
    height: 10%;
}

.fab:hover, .fa:hover {
    text-decoration: none;
    color: #282828;
}

.fa-facebook:hover {
    background:#3B5998;
}

.fa-youtube:hover {
    background:#bb0000;
}

.fa-instagram:hover {
    background:#125688;
}

.fa-tiktok:hover {
    background:#010101;
}

.fa-snapchat:hover {
    background:#FFFC00;
}

.fa-telegram:hover {
    background:#00405d;
}

.fa:hover{
    background: #453f4b;
}

</style>

<div class="navbar fixed-top rounded" style="height:9%; display: block;">
    <div class="container-fluid rounded d-flex align-items-stretch" style="height:100%">
        <img src="{{ MEDIA_URL }}nav.png" height="100%">

        {% for navUrl, navName in menuList %}

            {% if request.get_full_path == navUrl %}
                <a class="navbar-brand flex-fill" style="color: #230c5a; margin:0; display: flex; align-items: center; font-weight: bold;" href="{{ navUrl }}"> <h3>{{ navName }}</h3></a>
            {% else %}
                <a class="nav-link flex-fill" style="color: white; padding:0; display: flex; align-items: center;" href="{{ navUrl }}"> <h4>{{ navName }}</h4></a>
            {% endif %}
        
        {% endfor %}
    </div>
</div>

<div style = "background-color:#230c5a; position: relative; top: 9%;  min-height: 80%;">
    {% block page_content %}
    {% endblock %}
</div>


<!-- transformer les réseaux en div pour mieux les placer  -->
<footer class="d-flex">
    <div class="flex-fill text-center d-flex align-items-stretch">
        <div class="flex-fill"><a href="https://www.facebook.com/listebdehydra" class="fab fa-facebook"></a></div>
        <div class="flex-fill"><a href="https://www.youtube.com/channel/UCdeuDF8TL6H2YBdJsMZxgQA" class="fab fa-youtube flex-fill"> </a></div>
        <div class="flex-fill"><a href="https://instagram.com/liste_hydra" class="fab fa-instagram flex-fill"> </a></div>
        <div class="flex-fill"><a href="https://tiktok.com/@listehydra" class="fab fa-tiktok flex-fill"> </a></div>
    </br>

        
    </div>

    <div class="flex-fill text-center" style="height: 95%; padding-top: 5px;">
        <img src="{{ MEDIA_URL }}nav.png" height="100%" class="rounded">
    </div>

    <div class="flex-fill text-center d-flex align-items-stretch">
        <div class="flex-fill"><a href="mailto:listeHydra@gmail.com" class="fa fa-at flex-fill"> </a></div>
        <div class="flex-fill"><a href="https://t.me/listebdehydra" class="fab fa-telegram flex-fill"> </a></div>
        <div class="flex-fill"><a href="http://snapchat.com/add/liste_hydra" class="fab fa-snapchat flex-fill"> </a></div>
        <p class="flex-fill cpr">© Liste Hydra 2021-2022</p>
        
    </div>

</footer>
