
 <!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>


<style>
.table_title, table, form{
  color: white;
}
.my-custom-scrollbar {
  position: relative;
  height: 60%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
  padding: 2%;
}

form{
  padding-top: 2%;
  padding-left: 5%;
}

.popup {
    position: fixed;
    padding: 10px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
    visibility: hidden;
    opacity: 0;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
}
.popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
}
.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #111;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
}
.close-popup {
    background: rgba(0,0,0,.6);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup{  
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

@supports (-moz-appearance:none) {
  form {
      padding-top: 6%;
      padding-bottom: 2%; 
  }
}

form label, form input{
  margin-left: 10px;
}
  

</style>

<form method="post">
  {% csrf_token %}
  <h3>Poster un défi</h3>
  <label for="titre">Titre du défi</label><br>
  
  <input id="titre" type="text" name="titre" required><br>

  
  <label for="desc">Description :</label><br>
  
  <input id="desc" type="text" name="desc" required><br>


  <label for="donneur">De la part de : </label><br>
  <input id="donneur" type="text" name="donneur" required><br><br>
  {{form.captcha}}
  <input type="submit" value="Envoyer defi" name="submit">
</form>


<h3 class="table_title" style="padding-left:2%">Défis réalisés</h3>
<table class="table " style="padding-left:2%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col" style="text-align: right">De la part de</th>
      <th scope="col" style="text-align: center">Voir vidéo</th>
    </tr>
  </thead>
</table>
<div class="table-wrapper-scroll-y my-custom-scrollbar ">
  <table class="table">
    <tbody>
      {% for f in donelist %}
      <tr>

        <th scope="row">{{ f.id }}</th>
        <td>{{ f.titre }}</td>
        <td>{{ f.desc }}</td>
        <td>{{ f.donneur }}</td>
        <td><a href="#{{ f.id }}" class="btn btn-secondary element">Vidéo</a></td> <!--f.lien-->
      </tr>
      <div id="{{ f.id }}" class="popup">
        <iframe width="100%" height="100%" src="{{ f.lien }}" title="Vidéo de défi" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="close-popup"></a>
      {% endfor %}

    </tbody>

  </table>
</div>
<h3 class="table_title" style="padding-left:2%">Défis à faire</h3>

<table class="table table-striped" id="defis" style="width:100%; text-align: center; padding-left:2%">
    <thead>
      <tr >
        <!--<th scope="col">#</th>-->
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">De la part de </th>
      </tr>
    </thead>
</table>

<div class="table-wrapper-scroll-y my-custom-scrollbar ">
  <table class="table table-striped" style="width:100%; margin-bottom: 11%;">
      <tbody>
        {%for d in final%}
        <tr>
          <!--<th scope="row">{{ f.id }}</th>-->
          <td>{{ d.titre }}</td>
          <td>{{d.desc}}</td>
          <td>{{d.donneur}}</td>
        </tr>
        {% endfor %}
        
        
      </tbody>
      
    </table>

</div>




 {% endblock %}

 
