
 <!--include la  base, bootstrap -->
 {% extends "base.html" %}
 {% load static %} 
 {% block page_content %}
 {% load static %} 

 <style>

.product {
    text-align: center;
    transform: translate(-0%, -0%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #0e0e0f;
    overflow: hidden
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.specifies {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: .5s
}

.product:hover .specifies {
    bottom: 0
}

.specifies h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%
}

.specifies h2 span {
    font-size: 15px;
    color: #ccc;
    font-weight: normal
}

.specifies .price {
    position: absolute;
    top: 12px;
    right: 25px;
    font-weight: bold;
    color: #000;
    font-size: 30px
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px
}

.btn {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    width: 100%;
    font-size: 13px;
    border-radius: 2px
}

.NamePole{
    text-align: center;
    margin-bottom: 5%;
    font-size: xxx-large;
    font-family:'Times New Roman', Times, serif; /* find a better font (cf banner) */
    font-weight: bold;
    position: relative;
    top: 15%;
}

.pole{
    position: relative;
    top: 20%;
}

.m-5 {
    width:25%;
}

.DesPole{
    position: relative;
    top: 16%;
    font-size: larger;
}

.container-fluid{
    margin-bottom: 10%;
    color:white;
}

.imgbox{
    width: 100%;
    height: 85%;
}

.imgbox img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
  .Polecontainer{
      flex-direction: column !important;
  }
  .polehead{
      width: 80% !important;
      position: relative;
      left: 10%;
  }
  .polemem{
      width: 80% !important;
      position: relative;
      left:10%;
  }
}

</style>

<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">LES PARRAINS</h3>
        <p class="DesPole">Ils sont à la tête de l'organisation</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Bureau.jpg" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/dorian gaspar.JPG">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Président
                        <h5><strong>Dorian Gaspar</strong> Sheesh</h5>
                            Toujours là quand il y a des conneries à faire
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Benji.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Vice-Président
                        <h4><strong>Benjamin Boisse</strong> 12</h4>
                        Tout le monde a cru que c'était un palois, même lui
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Coco.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Vice-Président
                        <h4><strong>Corentin Le Leuxhe</strong> Poppers</h4>
                        Snif Snif
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Camille_pref.jpg" style="width:100%"> <!--Mauvaise photo-->
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Trésorière
                        <h4><strong>Camille Lamory</strong> La B.A.C.</h4>
                        haut les mains ! a non c'est vrai c'est la seule du côté de la légalité
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Thomas Dubec.jpg" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Trésorier
                        <h4><strong>Thomas Dubec</strong> Croq</h4>
                        Tu veux un croq ? Nan j'en voudrais 100 !
                    </div>
                </div>
            </div>

            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Louis.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Secrétaire
                        <h4><strong>Louis Grandel</strong><br>Cup of Tea</h4>
                        Au ski il a découvert que l'alcool n'était pas de l'eau 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle Apérol</h3>
        <p class="DesPole">La légende raconte qu'ils ne travaillent que sous 3g d'alcool</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Soiree.jpg" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Axel_Guedon.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        Respo Soirée
                        <h4><strong>Axel Guedon</strong><br>Cergy Ménage</h4>
                            Cergy ménage ... on va tout nettoyer chez toi !
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Quentin_DeGio.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle soirée
                        <h4 style="font-size: larger;"><strong>Quentin De Giovani</strong> David Guettage</h4>
                        Vous avez dit un DJ vous avez dit guetteur vous avez Quentin
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Pablo.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle soirée
                        <h4><strong>Pablo Escudié</strong> Escobar</h4>
                        A un lourd passé criminel derrière lui
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Kilian.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle soirée
                        <h4><strong>Kilian Guelou</strong> Raspoutine</h4>
                        On ne dira pas pourquoi tu ne l'as jamais vu aux pacifs
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Dorian_Gaspar.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle soirée
                        <h4 style="font-size: larger;"><strong>Romaric Vandycke</strong></br> Le grand dernier</h4>
                        Il vient compléter notre grande famille
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle Pizza</h3>
        <p class="DesPole">Prêt à tout pour vous faire découvrir de nouvelles choses</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Event.jpg" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Quentin_Dubois.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Respo Event
                        <h5><strong>Quentin Dubois</strong>Quent2</h5>
                            A defaut d'être premier, il sera second ...
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Lolo.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle event
                        <h4><strong>Laurent Schuler</strong> SwissGuy</h4>
                        Swiss qualitée
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Pierre.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle event
                        <h4><strong>Pierre Boulet</strong> YaPasLeFeu</h4>
                        S'il vous fait la cuisine, attendez vous à voir votre appart en feu
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Gwendal.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle event
                        <h4 style="font-size: larger;"><strong>Gwendal Auphan</strong><br>Le Ravagé</h4>
                        S'il est à la duper, c'est pour une bonne raison
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Adam.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle event
                        <h4><strong>Adam Le Roux</strong> Tchoupi</h4>
                        A adoré le cadeau de Arnaud dans son appart
                    </div>
                </div>
            </div>

            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Mathis_Rellier.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle event
                        <h4><strong>Mathis Rellier</strong><br>Oh Dumé!</h4>
                        Il va nous ramener le soleil ds ses bagages
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle Vroum Vroum</h3>
        <p class="DesPole">6h de route pour des pâtes aux pâtes ça fait beaucoup là non ?</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Voyage.JPG" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Renaud.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Respo Voyage
                        <h5><strong>Renaud Boulay</strong><br>Oeil de Lynx</h5>
                            Même à 100m, il ne ratera jamais sa cible
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Louise.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle voyage
                        <h4><strong>Louise Barsaq</strong> La sorcière</h4>
                        N'ayez pas peur et vennez gouter sa potion magique
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Alex.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle voyage
                        <h4 style="font-size: large;"><strong>Alexandre Richaudeau</strong> Schnekzer</h4>
                        Est le pro de la schnek si vous avez des questions n'hésitez pas
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Thomas.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle voyage
                        <h4 style="font-size: larger;"><strong>Thomas Visamblain</strong> Marina</h4>
                        Désormais les barmans ferment toujours les toilettes à clé
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle posta</h3>
        <p class="DesPole">Responsable de la bonne comprehension de notre nom</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Com.JPG" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Arthur.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Respo Com
                        <h5><strong>Arthur Dounies</strong><br>Petit Tonnerre</h5>
                            le coup de foudre assuré
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Amal.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle com
                        <h4><strong>Amal El Yousfi</strong> K.O.</h4>
                        droite, gauche, x, triangle, R1, O, O, O, L2
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Joud_Cazeaux.jpg" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle com
                        <h4><strong>Joud Cazeaux</strong><br>42 ans</h4>
                        L'âge n'est qu'un nombre
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Hedi Ben Amor.jpg" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle com
                        <h4><strong>Hedi Ben Amor</strong> Mr Bière</h4>
                        Si vous voulez une bière vous savez qui voir
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Dorian_Gaspar.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle com
                        <h4><strong>Yacine Khiter</strong> Le pianiste</h4>
                        Sa description s'est envolée comme des notes de musique
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle racket</h3>
        <p class="DesPole">Ces mafieux sont prêt à tout pour un contrat</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Entreprise.JPG" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 15%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Mathis.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Respo Entreprise
                        <h5><strong>Mathis Gasparello</strong> M&M's Jaune</h5>
                            Adore les M&M's Rouge
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Morgane.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle entreprise
                        <h4 style="font-size: larger;"><strong>Morgane Le Guilloux</strong><br> M&M's Rouge</h4>
                        Adore les M&M's Jaune
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/ArnaudPref.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle entreprise
                        <h4><strong>Arnaud Brossay</strong> Panneau30</h4>
                        Emporte les panneaux et les filles chez lui
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Idha.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle entreprise
                        <h4><strong>Ihda Lahrech</strong> Slim</h4>
                        Roule des cloppes plus vite que son ombre
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>


<div class="container-fluid d-flex align-items-stretch Polecontainer" style="padding:2%;">
    <div style="width:35%" class="polehead">
        <h3 class="NamePole">Pôle Mystèrio 😏</h3>
        <p class="DesPole">Prêt à tout pour vous divertir</p>
        <img class="pole" src="{{ MEDIA_URL }}pole/Mystere.jpg" style="width: 100%;">
    </div>
    <div style="width:65%;" class="polemem">
        <div class="container d-flex flex-wrap justify-content-center" style="width:100%; position: relative; top: 40%">
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Alexandre_Faber.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        <!--Faire mise en forme carte info-->
                        Respo mystère
                        <h5><strong>Alexandre Faber</strong> Hopital</h5>
                        Si vous ne le trouvez pas en fin de soirée, c'est qu'il est peut-être à l'hopital
                    </div>
                </div>
            </div>
            <div class="m-4" style="width: 25%;">
                <div class="product imgbox">
                    <img src="{{ MEDIA_URL }}membres/Antoine.JPG" style="width:100%">
                    <div class="specifies" style="background-color: #4A148CDE; color: #fff;">
                        pôle mystère
                        <h4><strong>Antoine Keller</strong> Harry Potter</h4>
                        Confond le bar avec des lampadaires ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom: 10%"></div> <!--Pour compléter la page-->
{% endblock %}




 
