<!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
<style>

</style>

<div style="height: 80%;">

    <img src="{{ MEDIA_URL }}grand.PNG" class="img-responsive rounded mx-auto d-block" height="50%">

    <div style="text-align: center; position: relative;">
        <a type="button" class="btn btn-primary btn-lg " style="background-color: #230c5a;" href="{% url 'Membres' %}">Membres</a>
        <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Defis' %}">Défis</a>
        <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Video' %}">Vidéo</a>
        <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Voyage' %}">Voyage</a>
        
        <button type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;">Large button</button>
    </div>

</div>

 {% endblock %}

 