

 <!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
<style>

</style>

<body style="background-color:#230c5a">

    <img src="{{ MEDIA_URL }}grand.PNG" class="img-responsive rounded mx-auto d-block" width="500" height="500">

    <div style="text-align: center; position: relative;">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg " style="background-color: #230c5a;" href="{% url 'Membres' %}">Membres</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Defis' %}">Défis</a>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Video' %}">Vidéo</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;" href="{% url 'Voyage' %}">Voyage</a>
            </div>

        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg"  style="background-color: #230c5a;">Large button</button>
    </div>




</body>



 {% endblock %}

 