
 <!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
 
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>


<style>
table{
  color: white;
}
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

</style>
<script>
let table = new DataTable('#defis', {
    
});
</script>

 

<br>
<br>


<form method="post">
  {% csrf_token %}
  <label for="titre">Titre </label>
  
  <input id="titre" type="text" name="titre" required>

  
  <label for="desc">Desc </label>
  
  <input id="desc" type="text" name="desc" required>


  <label for="donneur">donneur </label>
  <input id="donneur" type="text" name="donneur" required>
  
  <input type="submit" value="OK" name="submit">
</form>
<div class="table-wrapper-scroll-y my-custom-scrollbar ">


  <table class="table table-striped table-bordered" id="defis" style="width:100%">
    TABLE A FAIRE
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">titre</th>
          <th scope="col">Description</th>
          <th scope="col">De la part de </th>
        </tr>
      </thead>
      <tbody>
        {%for f in final%}
        <tr>
          <th scope="row">{{ f.id }}</th>
          <td>{{ f.titre }}</td>
          <td>{{f.desc}}</td>
          <td>{{f.donneur}}</td>
        </tr>
        {% endfor %}
        
        
      </tbody>
      
    </table>

</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar ">
  <table class="table ">
    TABLE FAIT
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">De la part de</th>
        <th scope="col">Voir vidéo</th>
      </tr>
    </thead>
    <tbody>
      {%for f in donelist%}
      <tr>

        <th scope="row">{{ f.id }}</th>
        <td>{{ f.titre }}</td>
        <td>{{f.desc}}</td>
        <td>{{f.donneur}}</td>
        <td><button class="btn btn-secondary">Vidéo</button></td>
      </tr>
      {% endfor %}}

    </tbody>

  </table>
</div>



 {% endblock %}

 