
 <!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
 
 
<style>

.Event{
    padding: 1%;
    margin-left: 8%;
    padding-bottom: 8%;
}

</style>



<div class="Event">
    <h1>Allô</h1>
    <h5>Lundi 21 février 2022</h5>
    <p>Les allô durent de 16h à minuit, on vous attendra à l'autre bout du fil pour vous apporter boissons, nourriture, et plein d'autres choses !</p>
    <small>Des détails arriveront très vite</small>
</div>

<div class="Event">
    <h1>Petit déjeuner</h1>
    <h5>Vendredi 25 février 2022</h5>
    <p>RDV dans les couloirs de l'école pour manger un pain au chocolat (ou chocolatine), coissant ou boire un café, thé ... bref un petit-déj</p>
</div>

<div class="Event">
    <h1>Journée de campagne</h1>
    <h5>Mercredi 9 mars 2022</h5>
    <p>À partir de 6h du matin jusqu'à 4 heures du matin, on vous divertira tout au long de la journée et on vous fera vibrer dans une soirée jusqu'au bout de la nuit</p>
    <small>Le planing de la journée sera bientôt disponible</small>
</div>

 {% endblock %}

 