
 <!--include la  base, bootstrap -->
 {% extends "base.html" %}

 {% block page_content %}
 
<body style="background-color: white;">
    <nav class="navbar  rounded" style="background-color: #633ccd;">
        <div class="container-fluid rounded" >
            <img src="{{ MEDIA_URL }}petit.jpg" height="75" class="rounded">
            <a class="navbar-brand" style="color: white;" href="{% url 'Acceuil' %}">
            Acceuil
            </a>
            <li class="nav item">
                <a class="nav-link active" style="color: white;" href="{% url 'membres' %}"> Membres</a> 
            </li>
             <li class="nav item">
                <a class="nav-link active" style="color: white;" href="{% url 'defis' %}">Défis</a>
             </li>
             <li class="nav item">
                <a class="nav-link active " style="color: white;" href="{% url 'video' %}">Vidéo</a>
             </li>
             <li class="nav item">
                <a class="nav-link active" style="color: white;" href="{% url 'voyage' %}">Voyage</a>
             </li>
             <li class="nav item">
                <a class="nav-link active" style="color: white;" href="{% url 'sponsors' %}"> Sponsors</a>
             </li>
        </div>
        
    
    </nav>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {%for a in afin%}
            <th scope="row">{{ a.id }}</th>
            {% endfor %}
            
          </tr>
         
        </tbody>
        
      </table>

    



    
    <footer class="py-2  fixed-bottom mt-auto" style="background-color: #633ccd;">
        <div class="container">

            <div class="row">
                <div class="col-sm">
                    <br>
                    
                    <a href="#" class="fa fa-facebook" style="color: white;"> </a>
                    <a style="color: white;">Facebook</a>

                    <br>
                    <a href="#" class="fa fa-instagram" style="color: white;"> </a>
                    <a style="color: white;">Instagram</a>

                    <br>
                    <a href="#" class="fa fa-youtube" style="color: white;"> </a>
                    <a style="color: white;">Youtube</a>

                    <br>
                    <a href="#" class="fa fa-snapchat-ghost" style="color: white;"> </a>
                    <a style="color: white;">Snapchat</a>
                    <br>
                    <a href="#" class="fa fa-telegram" style="color: white;"> </a>
                    <a style="color: white;">Telegram</a>
                </div>
                <div class="col-sm">
                    <img src="{{ MEDIA_URL }}petit.jpg" height="" class="rounded">
                </div>
                <div class="col-sm">
                  <br>
                  <a style="color: white;">
                    Liste Hydra © 2021-2022
                  </a>
                  <br>
                  
                  <br>
                  <a style="color: white;">
                   Contact : listehydra@gmail.com
                  </a>
                 
                </div>
              </div>
        
        </div>
        </footer>



</body>



 {% endblock %}

 